.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* font style */
/* background color */
/* font-color */
/* border color */
/* brand color */
/* icon fill */
body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
p,
figure {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  display: flex;
}

.link {
  text-decoration: none;
  font-style: normal;
}

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 15px;
  align-items: center;
  margin: 0;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 15px;
  }
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section__header {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.active {
  position: relative;
}

.active:after {
  position: absolute;
  bottom: -28px;
  right: 0;
  content: "";
  border-radius: 2px;
  background-color: #2196f3;
}

.active-portfolio {
  position: relative;
}

.active-portfolio:after {
  position: absolute;
  bottom: -28px;
  right: 0;
  content: "";
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .active:after {
    width: 53px;
    height: 4px;
  }
  .active-portfolio:after {
    width: 58px;
    height: 4px;
  }
}

@media screen and (min-width: 768px) {
  .active:after {
    width: 53px;
    height: 4px;
    bottom: -32px;
  }
  .active-portfolio:after {
    width: 58px;
    bottom: -32px;
  }
}

.address__item:not(:last-child) {
  padding-bottom: 9px;
}

.address__link--light {
  color: #ffffff;
}

.address__link--dark {
  color: rgba(255, 255, 255, 0.6);
}

.btn {
  font-style: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  line-height: 1.875;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 4px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
  position: relative;
  overflow: hidden;
}

.card:hover, .card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card:hover .card__hover {
  transform: translateY(0);
}

.card__text {
  padding-left: 24px;
  padding-bottom: 20px;
  background-color: #ffffff;
  z-index: 2;
}

.card__text__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
}

.card__hover {
  width: 370px;
  height: 294px;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  right: 0;
  transform: translateY(100%);
  color: #ffffff;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.card__hover__text {
  padding-left: 24px;
  padding-top: 49px;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
}

.contacts__link {
  font-size: 14px;
  line-height: 1.142;
  font-weight: 500;
  color: #757575;
  letter-spacing: 0.02em;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contacts__item:not(last-child) {
  margin-right: 30px;
}

.contacts__icon--mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contacts__icon--phone {
  vertical-align: text-bottom;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.filters {
  width: 572px;
  display: flex;
  justify-content: space-between;
}

.filters__btn {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  background-color: #f5f4fa;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__btn:hover, .filters__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.logo__part--light-theme {
  color: #000000;
}

.logo__part--dark-theme {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate3d(0, 0, 0, 0);
  opacity: 1;
}

.modal__backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__backdrop--is-hidden .modal {
  transform: translate3d(0, -2rem, 0);
  opacity: 0;
}

.modal__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__btn--icon {
  position: absolute;
  width: 11px;
  height: 11px;
  fill: #000000;
  top: 9px;
  left: 10px;
}

.modal__form__group {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
}

.modal__form__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 40px 40px 12px 40px;
}

.modal__form__label,
.modal__form__usercomment {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  position: relative;
}

.modal__form__input {
  padding-left: 42px;
  margin-top: 4px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: #2196f3;
}

.modal__form__input:focus + .modal__form__icon {
  outline-color: #2196f3;
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form__usercomment {
  margin-bottom: 20px;
}

.modal__form__usercomment--text {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  min-height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  color: rgba(117, 117, 117, 0.5);
  margin-top: 4px;
  outline-color: #2196f3;
}

.modal__form__icon {
  position: absolute;
  top: 31px;
  left: 15px;
  background-color: #ffffff;
}

.modal__form__icon--name {
  width: 12px;
  height: 12px;
}

.modal__form__icon--tel {
  width: 13px;
  height: 13px;
}

.modal__form__icon--email {
  width: 15px;
  height: 12px;
}

.div-class {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.modal__declaration {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__declaration__input {
  margin-right: 7px;
}

.modal__declaration__input:checked + .modal__declaration__label::before {
  content: "";
  position: absolute;
  border-radius: 2px;
  background-color: #2196f3;
  background-image: url("../images/checkbox.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 16px;
  height: 15px;
  position: relative;
}

.modal__declaration__label {
  margin-bottom: 30px;
}

.modal__declaration__label:before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #000;
  margin-right: 7px;
  border-radius: 2px;
}

.modal__declaration__link {
  color: #2196f3;
}

.nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.nav__item:not(:last-child) {
  margin-right: 46px;
}

.newsletter-form__label {
  text-transform: uppercase;
}

.newsletter-form__icon {
  width: 20px;
  height: 20px;
  margin-left: 24px;
  vertical-align: text-bottom;
}

.newsletter-form__input {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  margin-top: 20px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__item__icon {
  width: 20px;
  height: 20px;
}

.social-list__item__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__item__link:hover, .social-list__item__link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.feature-card {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.feature-card__icon-box {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.feature-card__icon-box__icon {
  width: 70px;
  height: 70px;
}

.feature-card__text__title {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-card__text__desctription {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.714;
}

.offer-card {
  position: relative;
}

.offer-card__caption {
  position: absolute;
  bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px;
}

.workers-card {
  background-color: #ffffff;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px #00000033;
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.workers-card__social-list {
  margin-left: 32px;
}

.workers-card__photo {
  margin-bottom: 30px;
}

.workers-card__text__title {
  letter-spacing: 0.03em;
}

.workers-card__text__description {
  margin-bottom: 16px;
}

.workers-card__text__title, .workers-card__text__description {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__item__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item__link:hover, .clients__item__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.clients__item__icon {
  width: 106px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header {
  border-bottom: 1px solid #ececec;
  align-items: center;
  padding: 0 15px;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  margin: 16px 0;
}

.page-header__menu {
  display: block;
  padding: 22px;
}

.page-header__menu__burger {
  width: 24px;
  height: 16px;
}

.page-header__nav {
  display: none;
}

.page-header__contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-header__menu {
    display: none;
  }
  .page-header__logo {
    margin: 26px 0;
  }
  .page-header__nav {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .page-header__contacts {
    display: flex;
    flex-direction: column;
    height: 38px;
    margin: 21px;
  }
  .page-header__contacts__link {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__menu {
    display: none;
  }
  .page-header__logo {
    margin: 24px 0;
  }
  .page-header__nav {
    display: flex;
    margin-left: 93px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .page-header__contacts {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    margin-bottom: 32px;
    height: auto;
    margin-left: auto;
  }
}

.main-section {
  background-image: url(../../images/main-section/main-bg-mobile.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.main-section__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-section__header {
  width: 365px;
  padding-top: 106px;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.main-section__btn {
  margin-bottom: 118px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .main-section {
    background-image: url(../../images/main-section/main-bg-mobile.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-width: 480px) and (max-width: 768px) {
  .main-section {
    background-image: url(../../images/main-section/main-bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/main-section/main-bgi-tablet.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-width: 768px) and (max-width: 1200px) {
  .main-section {
    background-image: url(../../images/main-section/main-bgi-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/main-section/main-bgi-desktop.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .main-section__header {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-width: 1200px) {
  .main-section {
    background-image: url(../../images/main-section/main-bgi-desktop@2x.jpg);
  }
}

.feature__container__list {
  display: flex;
  justify-content: space-between;
}

.offer__list {
  display: flex;
}

.offer__list__item:not(last-child) {
  margin-right: 30px;
}

.workers {
  background-color: #f5f4fa;
}

.workers__list {
  display: flex;
  justify-content: space-between;
}

.clients__container__list {
  display: flex;
  justify-content: space-between;
}

.page-footer {
  background-color: #2f303a;
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
}

.page-footer__left-side {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  margin-top: 60px;
}

.page-footer__left-side__logo {
  margin-bottom: 20px;
}

.page-footer____left-side__address {
  flex-direction: column;
}

.page-footer__social-links {
  flex-direction: column;
  margin-top: 12px;
}

.page-footer__social-links__title {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.menu-products {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 34px;
}

.products {
  margin-bottom: 94px;
}

.products__cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__cards__card:nth-child(-n + 6) {
  margin-bottom: 30px;
}
/*# sourceMappingURL=main.css.map */