.clients {
  padding-top: 60px;
  &__container {
    &__list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients {
    &__container {
      &__list {
        justify-content: space-between;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    &__item{
      &__link{
        margin-bottom: 0;
      }
    }
    &__container {
      &__list {
        justify-content: space-between;
        flex-direction: row;
      }
    }
  }
}
