.page-footer {
  background-color: $footer-background-color;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 60px;
    &__logo {
      text-align: center;
      margin-bottom: 20px;
    }

    &__address {
      flex-direction: column;
    }
  }
  &__social-links {
    flex-direction: column;
    margin-bottom: 60px;
    &__title {
      text-align: center;
      color: $secondary-font-color;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
  &__form {
    text-align: center;
  }
  &__btn{
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px){
  .page-footer {
    &__container{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__contacts{
      margin-right: 144px;
      
    }
    &__social-links{
      &__title{
        margin-top: 65px;
      }
    }
    &__btn{
      margin-bottom: 60px;
    }
    
  }
}
