.page-header {
  border: 1px solid $header-border-color;
  width: 100%;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    margin: 16px 0;
  }
  &__menu {
    display: block;
    padding: 22px;
    &__burger {
      width: 24px;
      height: 16px;
    }
  }
  &__nav {
    display: none;
  }
  &__contacts {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .page-header {
    border: 1px solid $header-border-color;
    width: 100%;
    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__logo {
      margin: 26px 0;
    }
    &__menu {
      padding: 22px;
      &__burger {
        width: 24px;
        height: 16px;
      }
    }
    &__nav {
      display: none;
    }
    &__contacts {
      display: none;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .page-header {
    display: flex;
    border: 1px solid $header-border-color;
    width: 100%;
    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__logo {
      margin: 25px 0;
    }
    &__menu {
      display: none;
    }
    &__nav {
      display: flex;
    }
    &__contacts {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    border: 1px solid $header-border-color;
    width: 100%;
    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__logo {
      margin: 16px 0;
    }
    &__menu {
      display: none;
    }
    &__nav {
      display: flex;
    }
    &__contacts {
      display: flex;
    }
  }
}
