.page-header {
  border-bottom: 1px solid $header-border-color;
  max-width: 100%;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    margin: 16px 0;
  }
  &__menu {
    padding: 22px;
    &__burger {
      width: 24px;
      height: 16px;
    }
  }
  &__nav {
    display: none;
  }
  &__contacts {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    &__logo {
      margin: 26px 0;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header {
    &__container {
      padding-top: 21px;
      padding-bottom: 11px;
    }
    &__menu {
      display: none;
    }
    &__nav {
      display: block;
      width: 282px;
    }
    &__contacts {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    &__container {
      display: flex;
      justify-content: flex-start;
      padding: 32px auto;
    }
   

    &__logo {
      margin: 16px 0;
    }
    &__menu {
      display: none;
    }
    &__nav {
      display: block;
      width: 254px;
      margin-left: 93px;
    }
    &__contacts {
      display: flex;
      margin-left: auto;
    }
  }
}
