.page-header {
  border-bottom: 1px solid $header-border-color;
}
.page-header__container {
  display: flex;
}
.page-header__nav{
  margin-left: 93px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.page-header__contacts{
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
}