.main-section {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/bg/1-mobile-bgi.jpg);
  background: cover;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    background-repeat: no-repeat;
  }
  &__header {
    max-width: 365px;
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $secondary-font-color;
  }
}
// mobile
@media screen and (min-width: 480px) and (max-width: 768px) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/bg/1-mobile-bgi.jpg);
    background-size: cover;
    &__container {
      max-width: 480px;
      height: 400px;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 480px) and (max-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 480px) and (max-width: 768px) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/bg/1-mobile-bgi@2x.jpg);
  }
}

// tablet
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/bg/1-tablet-bgi.jpg);
    background-size: cover;
    &__container {
      height: 400px;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1200px) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/bg/1-tablet-bgi@2x.jpg);
  }
}

//desktop
@media screen and (min-width: 1200px) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/bg/main-bgi-desktop.jpg);
    background-size: cover;

    &__container {
      height: 600px;
      background-image: none;
    }
    &__header {
      width: 696px;
      font-size: 44px;
      line-height: 1.364;
      letter-spacing: 0.06em;
    }
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/bg/main-bgi-desktop@2x.jpg);
  }
}
