.main-section {
  background-size: cover;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
  }
  &__header {
    font-weight: 900;
    color: $secondary-font-color;
    text-transform: uppercase;
    padding-bottom: 30px;
  }
}
// mobile
@media screen and (max-width: 768px) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/bg/1-mobile-bgi.jpg);
    &__container {
      max-width: 480px;
      height: 400px;
    }
    &__header {
      width: 365px;
      max-width: 100%;
      font-size: 26px;
      line-height: 1.615;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/bg/1-mobile-bgi@2x.jpg);
  }
}

// tablet
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/bg/1-tablet-bgi.jpg);
    background-size: cover;
    &__container {
      height: 400px;
    }
    &__header {
      width: 365px;
      text-align: center;
      line-height: 1.615;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/bg/1-tablet-bgi@2x.jpg);
  }
}

//desktop
@media screen and (min-width: 1200px) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/bg/main-bgi-desktop.jpg);
    background-size: cover;

    &__container {
      height: 600px;
      background-image: none;
    }
    &__header {
      max-width: 696px;
      text-align: center;
      font-size: 44px;
      line-height: 1.364;
      letter-spacing: 0.06em;
    }
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/bg/main-bgi-desktop@2x.jpg);
  }
}
