.products{
  margin-bottom: 94px;
}

.products__cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products__cards__card:nth-child(-n + 6){
  margin-bottom: 30px;
}