.products {
  margin-bottom: 30px;
  &__cards {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__card {
      margin-bottom: 29px;
    }
  }
}

@media screen and (min-width: 1200px){
  .products{
    margin-bottom: 64px;
  }
}
