.active {
  position: relative;
  &:after {
    position: absolute;
    bottom: -28px;
    right: 0;
    content: "";
    border-radius: 2px;
    background-color: $brand-color;
  }
}
.active-portfolio {
  position: relative;
  &:after {
    position: absolute;
    bottom: -28px;
    right: 0;
    content: "";
    border-radius: 2px;
    background-color: $brand-color;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .active {
    &:after {
      width: 53px;
      height: 4px;
      bottom: -30px;
    }
  }
  .active-portfolio {
    &:after {
      width: 58px;
      height: 4px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .active {
    &:after {
      width: 53px;
      height: 4px;
      bottom: -22px;
    }
  }
  .active-portfolio {
    &:after {
      width: 58px;
      bottom: -32px;
    }
  }
}

// @media screen and (min-width: 1200px) {
//   .active {
//     position: relative;
//     &:after {
//       width: 53px;
//       height: 4px;
//       position: absolute;
//       bottom: -28px;
//       right: 0;
//       content: "";
//       border-radius: 2px;
//       background-color: $brand-color;
//     }
//   }
//   .active-portfolio {
//     position: relative;
//     &:after {
//       width: 58px;
//       height: 4px;
//       position: absolute;
//       bottom: -28px;
//       right: 0;
//       content: "";
//       border-radius: 2px;
//       background-color: $brand-color;
//     }
//   }
// }
