.active {
  position: relative;
  &:after {
    width: 53px;
    height: 4px;
    position: absolute;
    bottom: -28px;
    right: 0;
    content: "";
    border-radius: 2px;
    background-color: $brand-color;
  }
}

.active-portfolio {
  position: relative;
  &:after {
    width: 58px;
    height: 4px;
    position: absolute;
    bottom: -28px;
    right: 0;
    content: "";
    border-radius: 2px;
    background-color: $brand-color;
  }
}
