.address{
    text-align: center;
    &__item{
        &:not(:last-child){
         padding-bottom: 9px;   
        }
    }
     &__link {
        &--light{
            color: $secondary-font-color;
        }
        &--dark{
           color: $footer-description-font-color;  
        }
        }
}