.address{
    &__item{
        &:not(:last-child){
         padding-bottom: 9px;   
        }
    }
     &__link {
        &--light{
            color: var(--secondary-font-color);
        }
        &--dark{
           color: var(--footer-description-font-color);  
        }
        }
}