.contacts {
  display: flex;
  &__link {
    font-size: 14px;
    line-height: 1.142;
    font-weight: 500;
    color: $normal-font-color;
    letter-spacing: 0.02em;
    transition: {
      property: color, fill;
      duration: 250ms;
      timing-function: $timing-transition;
    }
    &:hover,
    &:focus {
      color: $brand-color;
      fill: $brand-color;
    }
  }

  &__icon {
    &--mail {
      width: 16px;
      height: 12px;
      margin-right: 10px;
    }
    &--phone {
      vertical-align: text-bottom;
      width: 10px;
      height: 16px;
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    margin-left: 40px;
    flex-direction: column;
    &__item {
      margin-bottom: 32px;
    }
    &__link {
      font-size: 34px;
      letter-spacing: 0.02em;
      color: $normal-font-color;
      &--phone {
        color: $brand-color;
      }
      &--mail{
        font-size: 24px;
      }
    }
    &__icon {
      &--mail,
      &--phone {
        display: none;
      }
    }
  }
}

// @media screen and (min-width: 768px) and (max-width: 1200px){
//   .contacts{
//     width: 100%;
//   }
// }

@media screen and (min-width: 1200px){
  .contacts{
    width: 321px;
    display: flex;
    justify-content: space-between;
  }
}