.logo {
	color: $brand-color;
	font-family: $logo-font-style;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;
	
	&__part{
	    &--light-theme{
	        color:$header-logo-font-color;
	    }
	    &--dark-theme{
	        color: $secondary-font-color;
	    }
	}
}
