.logo {
	color: var(--brand-color);
	font-family: var(--logo-font-style);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;
	
	&__part{
	    &--light-theme{
	        color:var(--header-logo-font-color);
	    }
	    &--dark-theme{
	        color: var(--secondary-font-color);
	    }
	}
}
