.newsletter-form {
  &__label {
    text-transform: uppercase;
    color: $secondary-font-color;
  }
  &__icon {
    width: 20px;
    height: 20px;
    margin-left: 24px;
    vertical-align: text-bottom;
  }
  &__input {
    color: $footer-input-border-color;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    width: 450px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    transition: {
      duration: 250ms;
      timing-function: $timing-transition;
    }
  }
}
