.offer-card {
  position: relative;
  &__caption {
    position: absolute;
    bottom: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:$secondary-font-color;
    background:$figcaption-background-color;
    width: 100%;
    padding: 27px;
  }
}
