.social-list {
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
    &__icon {
      width: 20px;
      height: 20px;
    }
    &__link {
      display: flex;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      fill: var(--main-fill);
      transition-property: background-color, fill;
      transition-duration: 250ms;
      transition-timing-function: var(--timing-transition);
      &:hover,
      &:focus {
        background-color: var(--brand-color);
        fill: var(--social-list-fill);
      }
    }
  }
}
