.section {
	padding-bottom: 94px;
	padding-top: 94px;
}
.section__header {
  color: var(--strong-font-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}